---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Section from "../components/Section.astro";
import CardLarge from "../components/CardLarge.astro";
import CardSmall from "../components/CardSmall.astro";

// data imports
import data from "../data/social";
const cardLargeData = Object.values(data.subscribers);
const cardSmallData = Object.values(data.today);
---

<Layout title="Social Media Dashboard">
  <main>
    <Header />
    <Section title="Overview cards" titleVisible={false}>
      {
        cardLargeData.map((card) => (
          <CardLarge
            handle={card.handle}
            subs={card.subs}
            today={card.today}
            icon={card.icon}
            subTitle={card.subTitle}
            positive={card.positive}
          />
        ))
      }
    </Section>
    <Section title="Overview — Today">
      {
        cardSmallData.map((card) => (
          <CardSmall
            title={card.title}
            icon={card.icon}
            positive={card.positive}
            number={card.number}
            percentage={card.percentage}
          />
        ))
      }
    </Section>
  </main>
</Layout>
