---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Section from "../components/Section.astro";
import CardLarge from "../components/CardLarge.astro";
import CardSmall from "../components/CardSmall.astro";

// data imports
import data from "../data/social";
const cardLargeData = Object.entries(data.subscribers);
const cardSmallData = Object.values(data.today);
---

<Layout title="Social Media Dashboard">
  <main>
    <Header />
    <Section
      classes="card-section card-section--overview"
      title="Overview cards"
      titleVisible={false}
    >
      {
        cardLargeData.map((card) => (
          <CardLarge
            type={card[0]}
            handle={card[1].handle}
            subs={card[1].subs}
            today={card[1].today}
            icon={card[1].icon}
            subTitle={card[1].subTitle}
            positive={card[1].positive}
          />
        ))
      }
    </Section>
    <Section
      classes="card-section card-section--today"
      title="Overview — Today"
    >
      <div class="today-wrapper">
        {
          cardSmallData.map((card) => (
            <CardSmall
              title={card.title}
              icon={card.icon}
              positive={card.positive}
              number={card.number}
              percentage={card.percentage}
            />
          ))
        }
      </div>
    </Section>
  </main>
</Layout>

<style is:global>
  main {
    padding-block: var(--size-fluid-2);
    margin-inline: max((calc(100vw - 75rem) / 2), var(--size-fluid-2));
  }
</style>
